body {
  font-family: "Roboto", "San Francisco", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 140%;
  margin: 0px;
}

.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

th {
  text-align: right;
}

th, td {
  padding: 0.25em;
}

#controlsDiv {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  left: 0px;
  background-color: #ddd;
  border-bottom: 1px #999 solid;
  line-height: 190%;
}

#messageSpan {
  color: #777;
  font-style: italic;
  font-size: 90%;
}

#controlsDiv, table {
  width: 100%;
}

.narrow {
  width: 7em;
}

.right {
  text-align: right;
}

#quickSearchDiv {
  display: none;
}

#itemListDiv {
  cursor: pointer;
  display: table;
  width: 100%;
  background-size: cover;
}

.itemDiv {
  display: row;
  color: #111;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: #eee;
  border: 1px solid #ddd;
  margin: 0.2em;
}

.itemDiv:hover, .albumTitleDiv:hover {
  background: #cce;
  color: #000;
}

.albumTitleDiv {
  font-size: 110%;
  background-color: #ddd;
  display: row;
  padding: 0.5em;
  border-radius: 0.5em;
  border: 1px solid #ccc;
  margin: 0.2em;
}

audio, #searchInput {
  width: 97%;
}

.itemDivCell {
  display: table-cell;
  padding: 0.2em;
}

.albumTitle {
  font-style: italic;
  margin-right: 1.5em;
}

.year {
  color: #333;
  margin-right: 1.5em;
}

.artistName {
  font-weight: bold;
  margin-right: 1.5em;
}

.trackNumber {
  width: 3em;
  padding-right: 0.5em;
  text-align: right;
  color: #333;
}

button, input {
  font-family: inherit;
  font-size: 100%;
  border-radius: 0.5em;
  padding: 0.5em;
}

input {
  border: 2px solid #333;
}

button {
  border: 2px solid #333;
  font-weight: bold;
  background-color: #fff;
}

pre {
  margin-left: 2em;
  border: 0.1em solid #ccc;
  border-radius: 0.5em;
  padding: 0.5em;
}

#searchHelp.normal, #aboutDiv.normal {
  width: auto;
  color: #eee;
  padding: 2em;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 3em #000;
}

#videoPlayerBackground {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.9;
  opacity: .90;
  filter: alpha(opacity=90);
}

#videoPlayerDiv {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  z-index:1002;
  overflow: auto;
}

.hidden {
  display: none;
}
