html, body {
  font-family: system-ui;
  height: 100%;
}

input[type="text"] {
  font-size: 32px;
  padding: 8px;
  border: 1px solid #ba55da;
  margin: 2px;
  border-radius: 8px;
  outline: none;
}

input[type="image"] {
  border: 1px solid #ba55da;
  margin: 2px;
  border-radius: 8px;
  outline: none;
}

input[type="text"]:focus, input[type="image"]:focus {
  margin: 0px;
  border: 3px solid #ba55da;
}

#cover, #controls {
  height: 100%;
}

input {
  background-color: rgba(255, 255, 255, 0.3);
  vertical-align: bottom;
}

#nowPlayingTitle {
  background-color: rgba(255, 255, 255, 0.8);
}
