* {
  box-sizing: border-box;
}

.flexbox {
  display: flex;
}

.flexbox .stretch {
  flex: 1;
}

.flexbox .normal {
  flex: 0;
  margin: 0 0 0 1rem;
}

.flexbox div input {
  width: 100%;
}

.flexbox div audio {
  width: 100%;
}

.flexbox div video {
  width: 100%;
}

.flexbox div button {
  white-space: nowrap;
}

body {
  font-family: system-ui;
  line-height: 140%;
  margin: 0px;
}

.mainText {
  margin: 5em;
}

.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

th {
  text-align: left;
}

th, td {
  padding: 0.25em;
}

#controlsDiv {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  left: 0px;
  border-bottom: 1px #999 solid;
  line-height: 190%;
  background: linear-gradient(to bottom, #ffc0cb, #aaf);
  padding: 0.5em;
}

#errorDiv {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  left: 0px;
  border-bottom: 1px #999 solid;
  line-height: 190%;
  background: linear-gradient(to bottom, #ffc0cb, #aaf);
  padding: 0.5em;
  display: none;
}

#helpDiv {
  display: none;
  background-color: rgb(33, 33, 33, 0.95);
  color: #ccc;
  position: absolute;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}

#helpDiv a {
  color: #99c;
}

#closeHelpButton {
  float: right;
}

#itemListDiv {
  cursor: pointer;
  display: table;
  width: 100%;
  background-size: cover;
  background: linear-gradient(to bottom, #ffc0cb, #aaf);
}

.itemDiv {
  display: row;
  color: #111;
  background-color: rgb(255, 255, 255, 0.9);
  padding: 0.5em;
}

.nowPlayingItemDiv {
  color: #000;
  background-color: rgb(255, 255, 255, 0.6);
  box-shadow: 0px 1px 1px gray;
}

#nowPlayingTitle {
  background: rgba(255, 255, 255, 0.4);
  padding: 0.5em;
  border-radius: 0.3em;
}

.itemDiv:hover {
  color: #000;
  background-color: rgb(255, 255, 255, 0.6);
  box-shadow: 0px 1px 1px gray;
}

.albumTitleDiv {
  font-size: 110%;
  background-color: rgb(255, 255, 255, 0.6);
  display: row;
  padding: 0.5em;
}

img {
  float: left;
  max-width: 100%;
}

.itemDivCell {
  display: table-cell;
  padding: 0.2em;
}

.albumTitle {
  font-style: italic;
  margin-right: 1.5em;
}

.year {
  color: #333;
  margin-right: 1.5em;
}

.artistName {
  font-weight: bold;
  margin-right: 1.5em;
}

.secondaryMetadata {
  text-align: right;
  color: #888;
  font-style: italic;
}

button, input {
  font-family: inherit;
  font-size: 100%;
  border-radius: 0.3em;
  padding: 0.5em;
  border: 2px solid #333;
  background-color: rgb(255, 255, 255, 0.6);
}

audio, video {
  padding: 0.5em;
}

#positionRange {
  padding-right: 0;
  padding-left: 0;
  border-right: 0;
  border-left: 0;
}

button {
  font-weight: bold;
}

pre {
  border: 0.1em solid #ccc;
  border-radius: 0.3em;
  padding: 0.5em;
}

#searchHelp.normal, #aboutDiv.normal {
  width: auto;
  color: #eee;
  padding: 2em;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 3em #000;
}

.hidden {
  display: none;
}

video {
  max-width: 100%;
}
